@require 'client/app'

.toolbar.container
    font-size 16pt
    height 80px
    line-height 80px
    color color-white
    background-color color-orange


.navbar-right
    float right

.navbar-left
    float left


#login-dropdown-list
    position: absolute
    z-index 1000
    top: 40px
    left: -150px

#login-buttons
    z-index 1000
